div.suggestions {
/**
The first two lines of this CSS class are for browsers that support two forms of box sizing: content box and border box.
(for more information, read www.quirksmode.org/css/box.html)
*/

/** -moz-box-sizing, is Mozilla-specific and used for older Mozilla browsers*/
    -moz-box-sizing: border-box;
/** the second line is for browsers that support the official CSS3 box-sizingproperty*/
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
    position: absolute;   
}

div.suggestions div {
/**
The first line specifies the default cursor (the arrow) to be displayed when the mouse is over an item in the drop-down list.
Without this, the cursor would display as the caret, which is the normal cursor for textboxes and web pages in general
*/
    cursor: default;
    padding: 0px 3px;
}

div.suggestions div.current {
    background-color: #3366cc;
    color: white;
}